<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <app-slide-show [imageList]="slideShowImages" [slideId]="'demo'"></app-slide-show>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4" style="display: flex; align-items: center;min-height: 300px;">
        <div class="text-center" style="width: 100%;">
            <h1><span class="mdi mdi-phone theme" style="padding: 0px 20px;"></span><span style="padding: 0px 20px;"
                    class="theme-inverse">Call Us Now</span></h1>
            <h1>+91 7677306672</h1>
            <p>Get world class interior design for your home.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-strip [data]="featureStripData" class="theme bar"></app-strip>
    </div>
</div>
<div class="row">
    <div class="col-sm-12  col-md-12 col-lg-6 col-xl-6 text-center" style="margin:auto;max-width: 600px;">
        <div class="outer">
            <div class="inner">
                <h2>
                    KNOW US..
                </h2>
                <p>
                    RoyalVDS <br>
                    is a full-service <br>
                    interior design firm specializing <br>
                    in luxury residential and commercial interiors <br>
                    that evoke the spirit of cities rich history while remaining <br>
                    thoroughly modern in appeal.<br> 
                    By creating <br>
                    thoughtfully orchestrated environments<br> 
                    that reflect a client’ s personality and lifestyle,<br> 
                    RoyalVDS seamlessly upgrades every project with<br>
                     precision and quality interior design.<br> 
                    Know that it can save you a lot of time and money <br>that you would otherwise have to<br> spend in future amending <br>the issues.
                </p>
                <a class="nav-link" [routerLink]="['/know']">KNOW MORE...</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <img src="./assets/images/home.jpg" style="max-width: 100%">
    </div>
</div>
<div class="row">
    <div class="col">
        <app-strip [data]="contactStripData" class="theme bar"></app-strip>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <img src="./assets/images/w9.jpg" style="width: 100%">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" style="display: flex; align-items: center;min-height: 300px;">
        <div class="text-center" style="width: 100%;">
            <h1><span class="mdi mdi-phone theme" style="padding: 0px 20px;"></span><span style="padding: 0px 20px;"
                    class="theme-inverse">Call Us Now</span></h1>
            <h1>+91 7677306672</h1>
            <p>Get world class interior design for your home.</p>
        </div>
    </div>
    

</div>
